<%= content_tag_for :article, @conversation do %>
  <header class="expanded">
    <%= content_tag :h1, @conversation %>
    <%= content_tag :p, @conversation.description, class: 'description' %>
  </header>

  <section class="row">
    <%= render @messages %>
  </section>

  <div class="row">
  <% 7.times do |i| %>
    <%= image_tag 'loblaw/logo-white.png',
                   id: "conversation_#{@conversation.id}-image_#{i.succ}" %>
  <% end %>
  </div>
<% end %>
