<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr to remove for normal browsers. -->
<%= render 'loblaw/shared/head' %>

<%= body_tag_for(main_object) do %>
  <%= render 'loblaw/shared/header' %>

  <div id="canvas" class="<%= get_canvas_class %>" role="main">
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render 'loblaw/shared/footer' %>
<% end %>
</html>
